.container {
  font-family: "Roboto Condensed", sans-serif;
}

h2 {
  color: #3d3d3d;
  font-size: 45px;
  margin-top: 20px;
  line-height: 28px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #3d3d3d;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;

  background-image: url("https://images.unsplash.com/photo-1597200381847-30ec200eeb9a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80");
}
.clearfix {
  font-size: 30px;
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 60px;
  color: #3d3d3d;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-left: 50px;
  margin-right: 5px;
  height: 60px;
  width: 60px;
  margin-bottom: 20px;
}
.weather-temperature strong {
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 15px;
  top: -25px;
}
.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
#condition {
  font-size: 20px;
  padding-left: 60px;
}
.code {
  font-size: 12px;
  color: #3d3d3d;
}
.weather-forecast {
  text-align: center;
  margin-bottom: 10px;
}
.weather-forecast-temperature-min {
  color: #808080;
}
